export(asQualitative)
export(barplotCluster)
export(composeModelName)
export(histCluster)
export(is.dataType)
export(isQualitative)
export(mixmodCluster)
export(mixmodCompositeModel)
export(mixmodGaussianModel)
export(mixmodLearn)
export(mixmodMultinomialModel)
export(mixmodPredict)
export(mixmodStrategy)
export(nbFactorFromData)
export(plotCluster)
exportClasses(CompositeModel)
exportClasses(CompositeParameter)
exportClasses(GaussianModel)
exportClasses(GaussianParameter)
exportClasses(Mixmod)
exportClasses(MixmodCluster)
exportClasses(MixmodDAResults)
exportClasses(MixmodLearn)
exportClasses(MixmodPredict)
exportClasses(MixmodResults)
exportClasses(Model)
exportClasses(MultinomialModel)
exportClasses(MultinomialParameter)
exportClasses(Parameter)
exportClasses(Strategy)
exportMethods(barplot)
exportMethods(hist)
exportMethods(plot)
exportMethods(print)
exportMethods(show)
exportMethods(sortByCriterion)
exportMethods(summary)
exportPattern("^[[:alpha:]]+")
import(Rcpp)
importFrom(graphics,barplot)
importFrom(graphics,hist)
importFrom(graphics,plot)
importFrom(methods,show)
importFrom("graphics", "close.screen", "lines", "matlines", "mtext",
             "par", "points", "screen", "split.screen", "text", "title")
importFrom("methods", "callNextMethod", "is", "new", "validObject")
importFrom("stats", "dnorm")
useDynLib(Rmixmod)
