export(asQualitative)
export(barplotCluster)
export(composeModelName)
export(histCluster)
export(is.dataType)
export(isQualitative)
export(mixmodCluster)
export(mixmodCompositeModel)
export(mixmodGaussianModel)
export(mixmodLearn)
export(mixmodMultinomialModel)
export(mixmodPredict)
export(mixmodStrategy)
export(nbFactorFromData)
export(plotCluster)
exportClasses(CompositeModel)
exportClasses(CompositeParameter)
exportClasses(GaussianModel)
exportClasses(GaussianParameter)
exportClasses(Mixmod)
exportClasses(MixmodCluster)
exportClasses(MixmodDAResults)
exportClasses(MixmodLearn)
exportClasses(MixmodPredict)
exportClasses(MixmodResults)
exportClasses(Model)
exportClasses(MultinomialModel)
exportClasses(MultinomialParameter)
exportClasses(Parameter)
exportClasses(Strategy)
exportMethods(barplot)
exportMethods(hist)
exportMethods(plot)
exportMethods(print)
exportMethods(show)
exportMethods(sortByCriterion)
exportMethods(summary)
exportPattern("^[[:alpha:]]+")
import(Rcpp)
importFrom(stats,dnorm)
importFrom(graphics,barplot)
importFrom(graphics,hist)
importFrom(graphics,plot)
importFrom(graphics,points)
importFrom(graphics,lines)
importFrom(graphics,matlines)
importFrom(graphics,text)
importFrom(graphics,mtext)
importFrom(graphics,title)
importFrom(graphics,par)
importFrom(graphics,split.screen)
importFrom(graphics,screen)
importFrom(graphics,close.screen)
importFrom(methods,show)
importFrom(methods,new)
importFrom(methods,validObject)
importFrom(methods,callNextMethod)
importFrom(methods,is)
useDynLib(Rmixmod)
