export(mixmodAlgo)
export(mixmodClustering)
export(mixmodGaussianModel)
export(mixmodMultinomialModel)
exportClasses(Algo)
exportClasses(GaussianModel)
exportClasses(GaussianParameter)
exportClasses(Mixmod)
exportClasses(MixmodClustering)
exportClasses(Model)
exportClasses(MultinomialModel)
exportClasses(MultinomialParameter)
exportClasses(Parameter)
exportMethods(hist)
exportMethods(plot)
exportMethods(print)
exportMethods(show)
exportMethods(summary)
exportPattern("^[[:alpha:]]+")
importFrom(graphics,hist)
importFrom(graphics,plot)
useDynLib(Rmixmod)
